EXPO_PUBLIC_API_URL=https://api.hairconnekt.de
EXPO_PUBLIC_API_TIMEOUT=30000

EXPO_PUBLIC_STORAGE_AUTH_TOKEN=@hairconnekt:auth_token
EXPO_PUBLIC_STORAGE_REFRESH_TOKEN=@hairconnekt:refresh_token
EXPO_PUBLIC_STORAGE_USER_DATA=@hairconnekt:user_data
EXPO_PUBLIC_STORAGE_ONBOARDING_COMPLETED=@hairconnekt:onboarding_completed
EXPO_PUBLIC_STORAGE_USER_TYPE=@hairconnekt:user_type
EXPO_PUBLIC_STORAGE_FCM_TOKEN=@hairconnekt:fcm_token

EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

EXPO_PUBLIC_FIREBASE_ANDROID_API_KEY=AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
EXPO_PUBLIC_FIREBASE_ANDROID_APP_ID=1:123456789012:android:xxxxxxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_FIREBASE_ANDROID_PROJECT_ID=hairconnekt

EXPO_PUBLIC_FIREBASE_IOS_API_KEY=AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
EXPO_PUBLIC_FIREBASE_IOS_APP_ID=1:123456789012:ios:xxxxxxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_FIREBASE_IOS_PROJECT_ID=hairconnekt
EXPO_PUBLIC_FIREBASE_IOS_CLIENT_ID=123456789012-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com

EXPO_PUBLIC_GOOGLE_MAPS_API_KEY_ANDROID=AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY_IOS=AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=123456789012-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=123456789012-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=123456789012-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com

EXPO_PUBLIC_WEBSOCKET_URL=wss://api.hairconnekt.de

EXPO_PUBLIC_DEFAULT_LANGUAGE=de
EXPO_PUBLIC_DEFAULT_COUNTRY=DE

EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
